[data-theme="dark"] {
  background-color: #323232 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] .list-group-mine .list-group-item {
    background-color: #323232 !important;
    color: white !important;
}
